@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #3CAEA3;
    color: #F6D55C;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    user-select: none;
}

.dataTables_filter input {
    width: 200px !important;
}

.dataTables_length select {
    width: 70px !important;
}

.external {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.title {
    display: none;
}

.external a {
    text-decoration: none;
}

.external img {
    opacity: 0.6;
    padding-left: 5px;
    user-select: none;
}

.table-footer {
    text-align: center;
    font-size: 95%;
    color: #333333;
    user-select: none;
}

.row {
    background-color: #F6D55C;
}

.row:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 
.row:nth-of-type(3) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.col-sm-6 {
    margin-top: 10px;
}

.link-style-3 {
    background: linear-gradient(to bottom, #158cba 0, #158cba 100%) 0 1.3em / 0 0 repeat-x;
    color: #158cba;
    margin: -1px;
    margin-bottom: -2px !important;
    padding: 0 5px 2px 3px;
    text-decoration: bold !important;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.link-style-3:hover {
    background-image: linear-gradient(to bottom, #158cba 0, #158cba 100%);
    background-position: 0 100%; 
    background-size: 2px 100%;
    color: #fff; 
    transition: all .2s ease-in-out !important;
}
    
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #20639B;
    color: #FFFFFF;
}
    
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #20639B;
    color: #FFFFFF;
}
    
.table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: #FFFFFF;
    color: #3CAEA3; }
    
.table-striped>tbody>tr:nth-of-type(even):hover {
    background-color: #FFFFFF;
    color: #3CAEA3;
}

.table-striped>tbody>tr:nth-of-type(odd):hover a {
    background-color: #FFFFFF;
    color: #3CAEA3;
}

.table-striped>tbody>tr:nth-of-type(even):hover a {
    background-color: #FFFFFF;
    color: #3CAEA3;
}

a {
    color:#FFFFFF;
    font-weight: bold;
    text-decoration:none
}
    
.pagination>li>a, .pagination>li>a:hover, .form-control, .pagination>.disabled>a, .form-control.input-sm {
    color: #3CAEA3;
}
    
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus {
    background-color: #3CAEA3;
}
    
.form-control {
    border: 1px solid #20639B;
}
        
.form-control::-moz-placeholder{
    color:#3CAEA3;
    opacity:1
}

.form-control:-ms-input-placeholder{
    color:#3CAEA3; }

.form-control::-webkit-input-placeholder{
    color:#3CAEA3;
}

.table-bordered, .table-bordered>thead>tr>th {
    border: none; 
}

table {
    background-color: #F6D55C;
}
    
div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_length label, th {
    color: #20639B;
    font-weight: bold;
}
    
table.dataTable span.highlight {
    background-color: #FFFFFF;
    color: #3CAEA3;
}

td a:focus {
    color: inherit;
}
